Package: detour
Name: detour
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Mobile User
Author: Mobile User
Section: Tweaks
