Package: gameobjectview
Name: gameobjectview
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome tool of some sort!!
Maintainer: jjsam07
Author: jjsam07
Section: System
Tag: role::hacker
